.app {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  column-gap: 20px;
  row-gap: 60px;
  min-height: 100vh;
  align-content: start;
  padding: 50px 100px 120px;
}

.app__header {
  grid-area: header;
}

.app__main {
  grid-area: main;
}

.app__aside {
  grid-area: aside;
  max-width: 230px;
}
